.text-left  {
    font-size: 1.2rem;
    margin-left: 120px;
    font-weight: bold;
    margin-bottom: 0.75rem;
}



  .items{
    display: flex!important;
  }

  .row-items {
    border-radius: 2px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 21px !important;
    margin-right: 114px;
    margin-left: 118px;
    align-items: center;
}


  




















// // .container{
// //     display: flex;
// //     align-items: center;
// //     width: 100%;
// //     margin-top: 25px;
// //     // top-margin: 15px;
// //     gap: 5px;
// //     padding-top: 15px;
// //      overflow: hidden;
// // }

// // img{
// //     width: 100%;
// //     height: 100%;
// //     cursor: pointer;
// //     object-fit: cover;
// // }

// // .newsHeadline{
// //     // list-style: none;
// //     margin-top: 0px;
// //     margin: 0px;
// //     padding: 0px;
// //     display: flex;
// //     align-items:center;
// //     flex-direction: column;
// //     gap: 10px;
// //     // flex: 1;
// // //  position:absolute;
// //     // bottom: 0;
// //     // left: 0;
// //     // display: flex;
// //     flex-direction: column;
// //     // color: white;
    
// //  h6{
// // margin-top: 10px;
// // font-weight: 700;
// // margin-left: 2px;
// // color: black;
// // font-size: 13px;
// // transition: 0.8s;
// // cursor: pointer;
// // &:hover{
// //     color: #ce0000;
// // }
// // }
// // }

