 $first: #fff;;
 $second: #000000;
 $third: #990000;
 $lallantop: #d9368b;
 $dark: rgb(44,44,44);
 $text1:"Nunito";
 $text2: "cursive";



//  $lallantop footer: #016369;
//  background-color: #016369;
//  padding-top: 4rem;
//  margin-bottom: 50px;

// background: linear-gradient(90.07deg, #35A5F5 24.53%, #5CCDF1 88.81%);
// button border: 1px solid rgba(81, 172, 237, 1)
// button
// radient(261.87deg, #62D3F0 13.12%, #35A5F5 83.57%);

// background: linear-gradient(102.89deg, #22A7F0 -0.69%, #00CCB3 81.13%);
// border-radius: 10px;