.Article-page{
    flex : 9;
     margin-top: 0px;
     padding: 60px;
   
    
 }
 .Article-title{
 color: black;
 font-size: 45px;
 font-weight: bold;
 
 }

 .Article-img{
     width: 65%;
    
     border-radius: 10px;
     object-fit: cover;
 }
 .Article-info{
     width: 65%;
    
 }
 .Author{
    align-text: center;
 }
 .Logo{
     color: red;
     margin-left: 10px;
 }
//  .singlePostInfo span> {
//      color: aqua;
//  }