
.admin-dashboard {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      padding: 10px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    td {
      button {
        margin-right: 5px;
      }
    }
  }

  .pagination {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        cursor: pointer;

        &.active {
          background-color: #f2f2f2;
        }
      }
    }
  }
}
